*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; 
   
}

header img{
    height: 100px;
    width: 100px;
}

.gallery{
    display: flex;
    justify-content: flex-end;   /* moves the items to the end of the flex that is right */
    
}

.gallery .gallery-grid{
    display: grid;
    gap: 55px;
    grid-template-columns: repeat(4, 180px); /* column anusar milauna-- 4ta column*/
    margin-right: 50px;
    margin-top: 20px;

}

.gallery .gallery-grid img{
    width: 180px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;

}

.gallery .gallery-grid :nth-child(2){
    margin-top: 50px;

}

.gallery .gallery-grid :nth-child(4){
    margin-top: 30px;

}

.gallery .gallery-grid :nth-child(6){
    margin-top: -40px;
}

.gallery .gallery-grid :nth-child(8){
    margin-top: -60px;

}


.title{
    margin: 100px;
    margin-right: 150px;
    max-width: 500px;
    
}

.title h3{
    font-size: 30px;
    
}

.title p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    text-align: justify;
   
}

.card-container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 12px;
        
}
.card{
    width: 444px;
    margin-left: 60px;

}

.cardimg{
    height: 500px;
    width: 300px;
}


.card .cardimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    gap: 50px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
}
